# Mechanisms of Action (MoA): 作用機序

## Basic Study

### MoA

薬が治療効果を及ぼす仕組みのことです。通常、薬がどの標的分子（タンパク質）と相互作用し、どのような影響を与えた結果、治療効果が得られるのかを、分子レベルで言及します。ある薬に対して抵抗性になった場合、作用機序の異なる薬を使うことで、同じ治療効果が得られる可能性があります。

### 学習データ

- `g-x` は 遺伝子発現。772 列。遺伝子発現とは、遺伝子にコードされた情報がタンパク質分子の組み立てを指示するために利用されるプロセスである。細胞は、3つの塩基のグループで遺伝子の配列を読み取る。
- `c-x` は 細胞生存能。100 列。細胞生存率は、集団内の生きている健康な細胞の割合を測定するものです。細胞生存率アッセイは、細胞の全体的な健康状態を決定したり、培養や実験条件を最適化したり、薬物スクリーニングなどの化合物で処理した後の細胞生存率を測定したりするために使用されます。
- `cp_type` は 化合物（`cp_vehicle`）または対照摂動（`ctrl_vehicle`）で処理されたサンプルを示し、対照摂動は MoA を持たない
- `cp_time` と `cp_dose` は治療期間（24、48、72 時間）と投与量（高または低）

### 目的変数

- 206の作用機序への反応を予測する

In [29]:
import numpy as np
import pandas as pd

In [30]:
def df_stats(df):
    stats = []
    for col in df.columns:
        stats.append(
            (
                col,
                df[col].nunique(),
                df[col].value_counts().index[0],
                df[col].value_counts().values[0],
                df[col].isnull().sum() * 100 / df.shape[0],
                df[col].value_counts(normalize=True, dropna=False).values[0] * 100,
                df[col].dtype,
            )
        )
    return pd.DataFrame(
        stats, columns=["カラム名", "カラムごとのユニーク値数", "最も出現頻度の高い値", "最も出現頻度の高い値の出現回数", "欠損損値の割合", "最も多いカテゴリの割合", "Type"]
    )

In [31]:
train_df = pd.read_csv('../input/lish-moa/train_features.csv')
test_df = pd.read_csv('../input/lish-moa/test_features.csv')
target_df = pd.read_csv('../input/lish-moa/train_targets_scored.csv')
submit_df = pd.read_csv('../input/lish-moa/sample_submission.csv')
non_target_df = pd.read_csv('../input/lish-moa/train_targets_nonscored.csv')

In [32]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23814 entries, 0 to 23813
Columns: 876 entries, sig_id to c-99
dtypes: float64(872), int64(1), object(3)
memory usage: 159.2+ MB

In [33]:
train_df['cp_type'].value_counts()

trt_cp         21948
ctl_vehicle     1866
Name: cp_type, dtype: int64

In [34]:
train_df['cp_time'].value_counts()

48    8250
72    7792
24    7772
Name: cp_time, dtype: int64

In [35]:
train_df['cp_dose'].value_counts()

D1    12147
D2    11667
Name: cp_dose, dtype: int64

In [36]:
train_df.describe()

,cp_time,g-0,g-1,g-2,g-3,g-4,g-5,g-6,g-7,g-8,...,c-90,c-91,c-92,c-93,c-94,c-95,c-96,c-97,c-98,c-99
count,23814.000000,23814.000000,23814.000000,23814.000000,23814.000000,23814.000000,23814.000000,23814.000000,23814.000000,23814.000000,...,23814.000000,23814.000000,23814.000000,23814.000000,23814.000000,23814.000000,23814.000000,23814.000000,23814.000000,23814.000000
mean,48.020156,0.248366,-0.095684,0.152253,0.081971,0.057347,-0.138836,0.035961,-0.202651,-0.190083,...,-0.469244,-0.461411,-0.513256,-0.500142,-0.507093,-0.353726,-0.463485,-0.378241,-0.470252,-0.301505
std,19.402807,1.393399,0.812363,1.035731,0.950012,1.032091,1.179388,0.882395,1.125494,1.749885,...,2.000488,2.042475,2.001714,2.107105,2.159589,1.629291,2.059725,1.703615,1.834828,1.407918
min,24.000000,-5.513000,-5.737000,-9.104000,-5.998000,-6.369000,-10.000000,-10.000000,-10.000000,-10.000000,...,-10.000000,-10.000000,-10.000000,-10.000000,-10.000000,-10.000000,-10.000000,-10.000000,-10.000000,-10.000000
25%,24.000000,-0.473075,-0.562200,-0.437750,-0.429575,-0.470925,-0.602225,-0.493900,-0.525175,-0.511675,...,-0.566175,-0.565975,-0.589975,-0.568700,-0.563775,-0.567975,-0.552575,-0.561000,-0.592600,-0.562900
50%,48.000000,-0.008850,-0.046600,0.075200,0.008050,-0.026900,-0.015650,-0.000650,-0.017900,0.010000,...,-0.009900,0.003250,-0.009100,-0.013750,-0.003300,-0.010250,-0.001250,-0.006800,0.014000,-0.019500
75%,72.000000,0.525700,0.403075,0.663925,0.463400,0.465375,0.510425,0.528725,0.411900,0.549225,...,0.457750,0.461500,0.445675,0.452900,0.470900,0.444750,0.465225,0.446400,0.461275,0.438650
max,72.000000,10.000000,5.039000,8.257000,10.000000,10.000000,7.282000,7.333000,5.473000,8.887000,...,4.069000,3.960000,3.927000,3.596000,3.747000,2.814000,3.505000,2.924000,3.111000,3.805000

In [37]:
train_df.head()

,sig_id,cp_type,cp_time,cp_dose,g-0,g-1,g-2,g-3,g-4,g-5,...,c-90,c-91,c-92,c-93,c-94,c-95,c-96,c-97,c-98,c-99
0,id_000644bb2,trt_cp,24,D1,1.0620,0.5577,-0.2479,-0.6208,-0.1944,-1.0120,...,0.2862,0.2584,0.8076,0.5523,-0.1912,0.6584,-0.3981,0.2139,0.3801,0.4176
1,id_000779bfc,trt_cp,72,D1,0.0743,0.4087,0.2991,0.0604,1.0190,0.5207,...,-0.4265,0.7543,0.4708,0.0230,0.2957,0.4899,0.1522,0.1241,0.6077,0.7371
2,id_000a6266a,trt_cp,48,D1,0.6280,0.5817,1.5540,-0.0764,-0.0323,1.2390,...,-0.7250,-0.6297,0.6103,0.0223,-1.3240,-0.3174,-0.6417,-0.2187,-1.4080,0.6931
3,id_0015fd391,trt_cp,48,D1,-0.5138,-0.2491,-0.2656,0.5288,4.0620,-0.8095,...,-2.0990,-0.6441,-5.6300,-1.3780,-0.8632,-1.2880,-1.6210,-0.8784,-0.3876,-0.8154
4,id_001626bd3,trt_cp,72,D2,-0.3254,-0.4009,0.9700,0.6919,1.4180,-0.8244,...,0.0042,0.0048,0.6670,1.0690,0.5523,-0.3031,0.1094,0.2885,-0.3786,0.7125

In [38]:
df_stats(train_df)

,カラム名,カラムごとのユニーク値数,最も出現頻度の高い値,最も出現頻度の高い値の出現回数,欠損損値の割合,最も多いカテゴリの割合,Type
0,sig_id,23814,id_772dea8ce,1,0.0,0.004199,object
1,cp_type,2,trt_cp,21948,0.0,92.164273,object
2,cp_time,3,48,8250,0.0,34.643487,int64
3,cp_dose,2,D1,12147,0.0,51.007811,object
4,g-0,14367,0,22,0.0,0.092383,float64
...,...,...,...,...,...,...,...
871,c-95,14693,-10,53,0.0,0.222558,float64
872,c-96,14493,-10,385,0.0,1.616696,float64
873,c-97,14757,-10,53,0.0,0.222558,float64
874,c-98,14812,-10,79,0.0,0.331738,float64
875,c-99,14622,1.045,10,0.0,0.041992,float64

In [39]:
train_df[['c-31', 'c-32', 'c-78']].describe()

               c-31          c-32          c-78
count  23814.000000  23814.000000  23814.000000
mean      -0.434420     -0.322990     -0.412918
std        1.988458      1.772399      1.888788
min      -10.000000    -10.000000    -10.000000
25%       -0.537300     -0.533125     -0.568275
50%       -0.002150      0.000500     -0.014350
75%        0.454775      0.482400      0.451975
max        6.099000      4.073000      2.851000

In [40]:
target_df[target_df['proteasome_inhibitor'] == 1]['proteasome_inhibitor'].describe()

count    726.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: proteasome_inhibitor, dtype: float64

In [41]:
test_df.head()

,sig_id,cp_type,cp_time,cp_dose,g-0,g-1,g-2,g-3,g-4,g-5,...,c-90,c-91,c-92,c-93,c-94,c-95,c-96,c-97,c-98,c-99
0,id_0004d9e33,trt_cp,24,D1,-0.5458,0.1306,-0.5135,0.4408,1.5500,-0.1644,...,0.0981,0.7978,-0.1430,-0.2067,-0.2303,-0.1193,0.0210,-0.0502,0.1510,-0.7750
1,id_001897cda,trt_cp,72,D1,-0.1829,0.2320,1.2080,-0.4522,-0.3652,-0.3319,...,-0.1190,-0.1852,-1.0310,-1.3670,-0.3690,-0.5382,0.0359,-0.4764,-1.3810,-0.7300
2,id_002429b5b,ctl_vehicle,24,D1,0.1852,-0.1404,-0.3911,0.1310,-1.4380,0.2455,...,-0.2261,0.3370,-1.3840,0.8604,-1.9530,-1.0140,0.8662,1.0160,0.4924,-0.1942
3,id_00276f245,trt_cp,24,D2,0.4828,0.1955,0.3825,0.4244,-0.5855,-1.2020,...,0.1260,0.1570,-0.1784,-1.1200,-0.4325,-0.9005,0.8131,-0.1305,0.5645,-0.5809
4,id_0027f1083,trt_cp,48,D1,-0.3979,-1.2680,1.9130,0.2057,-0.5864,-0.0166,...,0.4965,0.7578,-0.1580,1.0510,0.5742,1.0900,-0.2962,-0.5313,0.9931,1.8380

In [42]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3982 entries, 0 to 3981
Columns: 876 entries, sig_id to c-99
dtypes: float64(872), int64(1), object(3)
memory usage: 26.6+ MB

In [43]:
test_df[['c-31', 'c-32', 'c-78']].describe()

              c-31         c-32         c-78
count  3982.000000  3982.000000  3982.000000
mean     -0.404966    -0.326530    -0.398559
std       1.981752     1.816726     1.924608
min     -10.000000   -10.000000   -10.000000
25%      -0.512525    -0.531950    -0.554750
50%       0.015550     0.016800    -0.001100
75%       0.466400     0.495875     0.467600
max       4.541000     4.169000     5.597000

In [44]:
target_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23814 entries, 0 to 23813
Columns: 207 entries, sig_id to wnt_inhibitor
dtypes: int64(206), object(1)
memory usage: 37.6+ MB

In [45]:
target_df.head()

,sig_id,5-alpha_reductase_inhibitor,11-beta-hsd1_inhibitor,acat_inhibitor,acetylcholine_receptor_agonist,acetylcholine_receptor_antagonist,acetylcholinesterase_inhibitor,adenosine_receptor_agonist,adenosine_receptor_antagonist,adenylyl_cyclase_activator,...,tropomyosin_receptor_kinase_inhibitor,trpv_agonist,trpv_antagonist,tubulin_inhibitor,tyrosine_kinase_inhibitor,ubiquitin_specific_protease_inhibitor,vegfr_inhibitor,vitamin_b,vitamin_d_receptor_agonist,wnt_inhibitor
0,id_000644bb2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,id_000779bfc,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,id_000a6266a,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,id_0015fd391,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,id_001626bd3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
len(train_df.columns)

876

In [48]:
g_cols = [col for col in train_df.columns if col.startswith('g-')]
g_cols

['g-0',
 'g-1',
 'g-2',
 'g-3',
 'g-4',
 'g-5',
 'g-6',
 'g-7',
 'g-8',
 'g-9',
 'g-10',
 'g-11',
 'g-12',
 'g-13',
 'g-14',
 'g-15',
 'g-16',
 'g-17',
 'g-18',
 'g-19',
 'g-20',
 'g-21',
 'g-22',
 'g-23',
 'g-24',
 'g-25',
 'g-26',
 'g-27',
 'g-28',
 'g-29',
 'g-30',
 'g-31',
 'g-32',
 'g-33',
 'g-34',
 'g-35',
 'g-36',
 'g-37',
 'g-38',
 'g-39',
 'g-40',
 'g-41',
 'g-42',
 'g-43',
 'g-44',
 'g-45',
 'g-46',
 'g-47',
 'g-48',
 'g-49',
 'g-50',
 'g-51',
 'g-52',
 'g-53',
 'g-54',
 'g-55',
 'g-56',
 'g-57',
 'g-58',
 'g-59',
 'g-60',
 'g-61',
 'g-62',
 'g-63',
 'g-64',
 'g-65',
 'g-66',
 'g-67',
 'g-68',
 'g-69',
 'g-70',
 'g-71',
 'g-72',
 'g-73',
 'g-74',
 'g-75',
 'g-76',
 'g-77',
 'g-78',
 'g-79',
 'g-80',
 'g-81',
 'g-82',
 'g-83',
 'g-84',
 'g-85',
 'g-86',
 'g-87',
 'g-88',
 'g-89',
 'g-90',
 'g-91',
 'g-92',
 'g-93',
 'g-94',
 'g-95',
 'g-96',
 'g-97',
 'g-98',
 'g-99',
 'g-100',
 'g-101',
 'g-102',
 'g-103',
 'g-104',
 'g-105',
 'g-106',
 'g-107',
 'g-108',
 'g-109',
 'g-110',
 'g-111',
 'g-112',
 'g-113',
 'g-114',
 'g-115',
 'g-116',
 'g-117',
 'g-118',
 'g-119',
 'g-120',
 'g-121',
 'g-122',
 'g-123',
 'g-124',
 'g-125',
 'g-126',
 'g-127',
 'g-128',
 'g-129',
 'g-130',
 'g-131',
 'g-132',
 'g-133',
 'g-134',
 'g-135',
 'g-136',
 'g-137',
 'g-138',
 'g-139',
 'g-140',
 'g-141',
 'g-142',
 'g-143',
 'g-144',
 'g-145',
 'g-146',
 'g-147',
 'g-148',
 'g-149',
 'g-150',
 'g-151',
 'g-152',
 'g-153',
 'g-154',
 'g-155',
 'g-156',
 'g-157',
 'g-158',
 'g-159',
 'g-160',
 'g-161',
 'g-162',
 'g-163',
 'g-164',
 'g-165',
 'g-166',
 'g-167',
 'g-168',
 'g-169',
 'g-170',
 'g-171',
 'g-172',
 'g-173',
 'g-174',
 'g-175',
 'g-176',
 'g-177',
 'g-178',
 'g-179',
 'g-180',
 'g-181',
 'g-182',
 'g-183',
 'g-184',
 'g-185',
 'g-186',
 'g-187',
 'g-188',
 'g-189',
 'g-190',
 'g-191',
 'g-192',
 'g-193',
 'g-194',
 'g-195',
 'g-196',
 'g-197',
 'g-198',
 'g-199',
 'g-200',
 'g-201',
 'g-202',
 'g-203',
 'g-204',
 'g-205',
 'g-206',
 'g-207',
 'g-208',
 'g-209',
 'g-210',
 'g-211',
 'g-212',
 'g-213',
 'g-214',
 'g-215',
 'g-216',
 'g-217',
 'g-218',
 'g-219',
 'g-220',
 'g-221',
 'g-222',
 'g-223',
 'g-224',
 'g-225',
 'g-226',
 'g-227',
 'g-228',
 'g-229',
 'g-230',
 'g-231',
 'g-232',
 'g-233',
 'g-234',
 'g-235',
 'g-236',
 'g-237',
 'g-238',
 'g-239',
 'g-240',
 'g-241',
 'g-242',
 'g-243',
 'g-244',
 'g-245',
 'g-246',
 'g-247',
 'g-248',
 'g-249',
 'g-250',
 'g-251',
 'g-252',
 'g-253',
 'g-254',
 'g-255',
 'g-256',
 'g-257',
 'g-258',
 'g-259',
 'g-260',
 'g-261',
 'g-262',
 'g-263',
 'g-264',
 'g-265',
 'g-266',
 'g-267',
 'g-268',
 'g-269',
 'g-270',
 'g-271',
 'g-272',
 'g-273',
 'g-274',
 'g-275',
 'g-276',
 'g-277',
 'g-278',
 'g-279',
 'g-280',
 'g-281',
 'g-282',
 'g-283',
 'g-284',
 'g-285',
 'g-286',
 'g-287',
 'g-288',
 'g-289',
 'g-290',
 'g-291',
 'g-292',
 'g-293',
 'g-294',
 'g-295',
 'g-296',
 'g-297',
 'g-298',
 'g-299',
 'g-300',
 'g-301',
 'g-302',
 'g-303',
 'g-304',
 'g-305',
 'g-306',
 'g-307',
 'g-308',
 'g-309',
 'g-310',
 'g-311',
 'g-312',
 'g-313',
 'g-314',
 'g-315',
 'g-316',
 'g-317',
 'g-318',
 'g-319',
 'g-320',
 'g-321',
 'g-322',
 'g-323',
 'g-324',
 'g-325',
 'g-326',
 'g-327',
 'g-328',
 'g-329',
 'g-330',
 'g-331',
 'g-332',
 'g-333',
 'g-334',
 'g-335',
 'g-336',
 'g-337',
 'g-338',
 'g-339',
 'g-340',
 'g-341',
 'g-342',
 'g-343',
 'g-344',
 'g-345',
 'g-346',
 'g-347',
 'g-348',
 'g-349',
 'g-350',
 'g-351',
 'g-352',
 'g-353',
 'g-354',
 'g-355',
 'g-356',
 'g-357',
 'g-358',
 'g-359',
 'g-360',
 'g-361',
 'g-362',
 'g-363',
 'g-364',
 'g-365',
 'g-366',
 'g-367',
 'g-368',
 'g-369',
 'g-370',
 'g-371',
 'g-372',
 'g-373',
 'g-374',
 'g-375',
 'g-376',
 'g-377',
 'g-378',
 'g-379',
 'g-380',
 'g-381',
 'g-382',
 'g-383',
 'g-384',
 'g-385',
 'g-386',
 'g-387',
 'g-388',
 'g-389',
 'g-390',
 'g-391',
 'g-392',
 'g-393',
 'g-394',
 'g-395',
 'g-396',
 'g-397',
 'g-398',
 'g-399',
 'g-400',
 'g-401',
 'g-402',
 'g-403',
 'g-404',
 'g-405',
 'g-406',
 'g-407',
 'g-408',
 'g-409',
 'g-410',
 'g-411',
 'g-412',
 'g-413',
 'g-414',
 'g-415',
 'g-416',
 'g-417',
 'g-418',
 'g-419',
 'g-420',
 'g-421',
 'g-422',
 'g-423',
 'g-424',
 'g-425',
 'g-426',
 'g-427',
 'g-428',
 'g-429',
 'g-430',
 'g-431',
 'g-432',
 'g-433',
 'g-434',
 'g-435',
 'g-436',
 'g-437',
 'g-438',
 'g-439',
 'g-440',
 'g-441',
 'g-442',
 'g-443',
 'g-444',
 'g-445',
 'g-446',
 'g-447',
 'g-448',
 'g-449',
 'g-450',
 'g-451',
 'g-452',
 'g-453',
 'g-454',
 'g-455',
 'g-456',
 'g-457',
 'g-458',
 'g-459',
 'g-460',
 'g-461',
 'g-462',
 'g-463',
 'g-464',
 'g-465',
 'g-466',
 'g-467',
 'g-468',
 'g-469',
 'g-470',
 'g-471',
 'g-472',
 'g-473',
 'g-474',
 'g-475',
 'g-476',
 'g-477',
 'g-478',
 'g-479',
 'g-480',
 'g-481',
 'g-482',
 'g-483',
 'g-484',
 'g-485',
 'g-486',
 'g-487',
 'g-488',
 'g-489',
 'g-490',
 'g-491',
 'g-492',
 'g-493',
 'g-494',
 'g-495',
 'g-496',
 'g-497',
 'g-498',
 'g-499',
 'g-500',
 'g-501',
 'g-502',
 'g-503',
 'g-504',
 'g-505',
 'g-506',
 'g-507',
 'g-508',
 'g-509',
 'g-510',
 'g-511',
 'g-512',
 'g-513',
 'g-514',
 'g-515',
 'g-516',
 'g-517',
 'g-518',
 'g-519',
 'g-520',
 'g-521',
 'g-522',
 'g-523',
 'g-524',
 'g-525',
 'g-526',
 'g-527',
 'g-528',
 'g-529',
 'g-530',
 'g-531',
 'g-532',
 'g-533',
 'g-534',
 'g-535',
 'g-536',
 'g-537',
 'g-538',
 'g-539',
 'g-540',
 'g-541',
 'g-542',
 'g-543',
 'g-544',
 'g-545',
 'g-546',
 'g-547',
 'g-548',
 'g-549',
 'g-550',
 'g-551',
 'g-552',
 'g-553',
 'g-554',
 'g-555',
 'g-556',
 'g-557',
 'g-558',
 'g-559',
 'g-560',
 'g-561',
 'g-562',
 'g-563',
 'g-564',
 'g-565',
 'g-566',
 'g-567',
 'g-568',
 'g-569',
 'g-570',
 'g-571',
 'g-572',
 'g-573',
 'g-574',
 'g-575',
 'g-576',
 'g-577',
 'g-578',
 'g-579',
 'g-580',
 'g-581',
 'g-582',
 'g-583',
 'g-584',
 'g-585',
 'g-586',
 'g-587',
 'g-588',
 'g-589',
 'g-590',
 'g-591',
 'g-592',
 'g-593',
 'g-594',
 'g-595',
 'g-596',
 'g-597',
 'g-598',
 'g-599',
 'g-600',
 'g-601',
 'g-602',
 'g-603',
 'g-604',
 'g-605',
 'g-606',
 'g-607',
 'g-608',
 'g-609',
 'g-610',
 'g-611',
 'g-612',
 'g-613',
 'g-614',
 'g-615',
 'g-616',
 'g-617',
 'g-618',
 'g-619',
 'g-620',
 'g-621',
 'g-622',
 'g-623',
 'g-624',
 'g-625',
 'g-626',
 'g-627',
 'g-628',
 'g-629',
 'g-630',
 'g-631',
 'g-632',
 'g-633',
 'g-634',
 'g-635',
 'g-636',
 'g-637',
 'g-638',
 'g-639',
 'g-640',
 'g-641',
 'g-642',
 'g-643',
 'g-644',
 'g-645',
 'g-646',
 'g-647',
 'g-648',
 'g-649',
 'g-650',
 'g-651',
 'g-652',
 'g-653',
 'g-654',
 'g-655',
 'g-656',
 'g-657',
 'g-658',
 'g-659',
 'g-660',
 'g-661',
 'g-662',
 'g-663',
 'g-664',
 'g-665',
 'g-666',
 'g-667',
 'g-668',
 'g-669',
 'g-670',
 'g-671',
 'g-672',
 'g-673',
 'g-674',
 'g-675',
 'g-676',
 'g-677',
 'g-678',
 'g-679',
 'g-680',
 'g-681',
 'g-682',
 'g-683',
 'g-684',
 'g-685',
 'g-686',
 'g-687',
 'g-688',
 'g-689',
 'g-690',
 'g-691',
 'g-692',
 'g-693',
 'g-694',
 'g-695',
 'g-696',
 'g-697',
 'g-698',
 'g-699',
 'g-700',
 'g-701',
 'g-702',
 'g-703',
 'g-704',
 'g-705',
 'g-706',
 'g-707',
 'g-708',
 'g-709',
 'g-710',
 'g-711',
 'g-712',
 'g-713',
 'g-714',
 'g-715',
 'g-716',
 'g-717',
 'g-718',
 'g-719',
 'g-720',
 'g-721',
 'g-722',
 'g-723',
 'g-724',
 'g-725',
 'g-726',
 'g-727',
 'g-728',
 'g-729',
 'g-730',
 'g-731',
 'g-732',
 'g-733',
 'g-734',
 'g-735',
 'g-736',
 'g-737',
 'g-738',
 'g-739',
 'g-740',
 'g-741',
 'g-742',
 'g-743',
 'g-744',
 'g-745',
 'g-746',
 'g-747',
 'g-748',
 'g-749',
 'g-750',
 'g-751',
 'g-752',
 'g-753',
 'g-754',
 'g-755',
 'g-756',
 'g-757',
 'g-758',
 'g-759',
 'g-760',
 'g-761',
 'g-762',
 'g-763',
 'g-764',
 'g-765',
 'g-766',
 'g-767',
 'g-768',
 'g-769',
 'g-770',
 'g-771']